<!DOCTYPE html>
<html>

<head>
    <title>Upload Image</title>
</head>

<body>
    <h2>Upload an Image</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" required>
        <button type="submit">Upload</button>
    </form>

    {% if url %}
    <p>Uploaded Image URL: <a href="{{ url }}">{{ url }}</a></p>
    <img src="{{ url }}" width="300">
    {% endif %}
    <br><br>
    <a href="/show/">Go to Show Page</a>
 <script type="module">
      import { initializeApp } from "https://www.gstatic.com/firebasejs/12.11.0/firebase-app.js";
      import { getAuth } from "https://www.gstatic.com/firebasejs/12.11.0/firebase-auth.js";
      import { getFirestore } from "https://www.gstatic.com/firebasejs/12.11.0/firebase-firestore.js";

      const firebaseConfig = {
        apiKey: "AIzaSyDx0...",
        authDomain: "rubik-ce259.firebaseapp.com",
        projectId: "rubik-ce259",
        storageBucket: "rubik-ce259.appspot.com",
        messagingSenderId: "685891595679",
        appId: "1:685891595679:web:e0dc39c00b159d6a4fe1aa"
      };

      const app = initializeApp(firebaseConfig);
      const auth = getAuth(app);
      const db = getFirestore(app);

      console.log("Firebase connected ✅");
    </script>
</body>

</html>
